{{ define "main" }} 
	<header>{{ partial "header.html" . }}</header>
	   <h2>{{ .Title }}</h2> 
<time datetime="{{ .Date | time.Format "2006-01-02" }}">
     {{ .Date | time.Format "2006-01-02" }}
   </time>

<div class="post-content">
{{ .Content | safeHTML}}
</div>
 {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} <div id="waline"></div>
<link rel="stylesheet" href="/css/main.css" />
<div id="waline"></div>
<script
    type="module"> import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js'; init({ el: '#waline', serverURL: 'waline.yingyu5658.me', }); </script>
	<footer>
		{{ partial "footer.html" . }} 
    </footer>


{{ end }}
