{{ with .Paginator }}
  {{ if gt .TotalPages 1 }}
  <div class="custom-pagination">
    {{ if .HasPrev }}
      <a href="{{ .Prev.URL }}">««</a>
      <a href="{{ .Prev.URL }}">«</a>
    {{ end }}
    
    {{ range .Pagers }}
      <a class="{{ if eq .PageNumber $.PageNumber }}active{{ end }}" 
         href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    
    {{ if .HasNext }}
      <a href="{{ .Next.URL }}">»</a>
      <a href="{{ .Next.URL }}">»»</a>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
